
<%- layout('layouts/main.ejs') %>




<div class="jumbotron mt-4">

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card border-secondary mb-3" style="max-width: 30rem;">
                    <div class="card-header">Perfil</div>
                    <div class="card-body">
<h4>email: <%- user.email %></h4>
<h4>Nombre: <%- user.name %></h4>
<h4>Sobre mí: <%- user.description %></h4>
<h4>Progreso: <%= user.progress %> %</h4>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= user.progress %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= user.progress %>%"></div>
  </div>
</div>
</div>
</div>

      <div class="col-sm">
          <div class="card border-secondary mb-3" style="max-width: 30rem;">
              <div class="card-header">Avatar</div>
              <div class="card-body">
                 <img class="avatar" src="https://media.apnarm.net.au/media/images/2015/02/13/9-2666347-scn020215vikings_fct768x576x77.0_ct677x380.jpg" alt="avatar">
                
              </div>
            </div>
      </div>
    </div>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card border-secondary mb-3" style="max-width: 20rem;">
                <div class="card-header">Fortaleza</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Salud
                          <span class="badge badge-primary badge-pill">1240/1240</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                         Progreso
                          <span class="badge badge-primary badge-pill">4/10</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Cultura
                          <span class="badge badge-primary badge-pill">2/10</span>
                        </li>
                      </ul>
                </div>
              </div>
        </div>
      <div class="col-sm">
          <div class="card border-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header">Historia</div>
              <div class="card-body">
                <h4 class="card-title">Rey</h4>
                <p class="card-text">Tirano y borracho, se aprovecha de la plebe.</p>
              </div>
            </div>
      </div>
      <div class="col-sm">
          <div class="card border-secondary mb-3" style="max-width: 20rem;">
              <div class="card-header">Recursos</div>
              <div class="card-body">
                  <ul class="list-group">
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Madera
                        <span class="badge badge-primary badge-pill">140</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                       Hierro
                        <span class="badge badge-primary badge-pill">22</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center">
                        Piedra
                        <span class="badge badge-primary badge-pill">2</span>
                      </li>
                    </ul>
              </div>
            </div>
      </div>
    </div>
  </div>